@media (prefers-color-scheme: light) {
  #euclidean-distance .xterm-rows > div > span {
    filter: invert(1) !important;
  }
  #euclidean-distance .container_inner{
    filter: invert(0.98);
  }
}
#euclidean-distance .container_inner{
  width: 100%;
  justify-content: center;
  background-image: url('euclidean-distance/python-preview.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 1s opacity 1s;
}
#euclidean-distance button.app_runner {
  filter: invert(0.98);
}
#euclidean-distance py-terminal {
  display: block !important;
  width: calc(var(--hx-site-width)/2) !important;
  margin-left: 10px;
}
#euclidean-distance py-terminal > div{
  height: calc((100svh - 68px)/2 - 36px);
  overflow: hidden;
}
#euclidean-distance .xterm-viewport {
  background-color: transparent !important;
  overflow-y: hidden !important;
}
#euclidean-distance .xterm-rows > div > span {
  font-family: var(--hx-font-mono) !important;
  font-weight: 200 !important;
  font-size: .75rem !important;
}
.py-error {
  display: none !important;
}
@media (max-width: 1200px) {
  #euclidean-distance py-terminal {
    width: calc(100vw - 16px) !important;
  }
}
@media (max-width: 600px) {
  #euclidean-distance .container_inner {
    align-items: flex-start;
    padding-top: 12px;
    background-size: contain;
  }
  #euclidean-distance .app_runner {
    transform: translateY(100%);
  }
  #euclidean-distance .xterm-rows > div {
    width: 100vw !important;
  }
}